.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000004d;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  z-index: 1000;
  /* pointer-events: none; */
}

.modal_opened {
  opacity: 1;
  visibility: visible;
  /* pointer-events: auto; */
}

.modal__close-btn {
  position: absolute;
  top: -40px;
  right: -40px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.modal__content {
  border: 1px solid #0000004d;
  border-radius: 16px;
  position: relative;
  background-color: #fff;
  height: 380px;
  max-width: 430px;
  width: 100%;
  box-sizing: border-box;
  padding: 34px 36px 28px 36px;
}

.modal__header {
  margin: 0;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: auto;
  text-align: left;
}

.modal__input-header {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;

  margin: 22px 0 0 0;
  color: #2f71e5;
}

.modal__input-header {
  margin: 31px 0 0 0;
}

.modal__input {
  padding: 9px 0 10px 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  width: 358px;
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.modal__input_password {
  -webkit-text-security: disc;
  -moz-text-security: disc;
  margin-bottom: 39px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__submit {
  font-family: "Roboto";
  font-weight: 500;
  font-style: 18px;
  margin-bottom: 16px;
  padding: 0;
  width: 100%;
  height: 64px;
  border-radius: 100px;
  border: none;
  color: #fff;
  background-color: #2f71e5;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.modal__submit_disabled {
  background-color: #d1d2d6;
  color: #b6bcbf;
}

.modal__switch-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 20px;

  width: 100%;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #2f71e5;
}

.modal__switch-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
}

.modal__switch-text_or {
  margin: 0;
  color: #000;
  cursor: default;
}

.modal__switch-text_signin {
  margin: 0;
  cursor: pointer;
}
