.navigation {
  position: absolute;
  right: 104px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
}

.navigation__home_signed-out {
  margin: 0 42px 0 0;
  height: 80px;
  width: 68px;
  padding: 0;
  font-weight: 500;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #fff;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.navigation__home_signed-out:hover {
  opacity: 0.5;
}

.navigation__sign-in {
  width: 176px;
  height: 48px;
  font-weight: 500;
  border-radius: 100px;
  border-width: 1px;
  border-color: #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.navigation__sign-in:hover {
  opacity: 0.5;
}

.navigation__home_signed-in {
  margin: 0 42px 0 0;
  height: 80px;
  width: 68px;
  padding: 0;
  font-weight: 500;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #fff;
  color: #000;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.navigation__home_signed-in:hover {
  opacity: 0.5;
}

.navigation__saved-news {
  margin: 0 32px 0 0;
  height: 80px;
  width: 178px;
  padding: 0;
  font-weight: 500;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #000;
  color: #000;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.navigation__saved-news:hover {
  opacity: 0.5;
}

.navigation__sign-out {
  text-align: center;
  align-items: center;
  padding: 0 19px;
  font-weight: 500;
  max-width: 120px;
  height: 48px;
  border-radius: 100px;
  border-width: 1px;
  border-color: #000;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.navigation__sign-out:hover {
  opacity: 0.5;
}

.navigation__sign-out-icon {
  margin: 0;
  padding: 0 0 0 15px;
}
