.navigation {
  position: absolute;
  right: 104px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
}

.navigation__active {
  color: #000;
  border-color: #000;
}

.navigation__list {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 33px;
  list-style: none;
}

.navigation__link {
  margin: 0;
  height: 100%;
  padding: 30px 0 27px 0;
  border: none;
  border-bottom: 3px solid #fff;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.navigation__link:hover {
  opacity: 50%;
}

.navigation__link_home {
  padding: 30px 9px 27px 9px;
}

.navigation__link_news {
  padding: 30px 32px 27px 32px;
  border-color: transparent;
}

.navigation__link_home.active {
  color: #000;
  border-color: transparent;
}

.navigation__link_news.active {
  color: #000;
  border-color: #000;
}

.navigation__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 176px;
  height: 48px;
  font-weight: 500;
  border-radius: 100px;
  border-width: 1px;
  border-color: #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.navigation__btn.active {
  border-color: #000;
}

.navigation__btn:hover {
  opacity: 0.5;
}

.navigation__btn_user {
  width: auto;
  padding: 12px 10px 12px 23px;
}

.navigation__username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

/*************************/

.navigation__home_signed-out {
  margin: 0 42px 0 0;
  height: 80px;
  width: 68px;
  padding: 0;
  font-weight: 500;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #fff;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.navigation__home_signed-out:hover {
  opacity: 0.5;
}

.navigation__sign-in {
  width: 176px;
  height: 48px;
  font-weight: 500;
  border-radius: 100px;
  border-width: 1px;
  border-color: #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.navigation__sign-in:hover {
  opacity: 0.5;
}

.navigation__user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation__home_signed-in {
  margin: 0 42px 0 0;
  height: 80px;
  width: 68px;
  padding: 0;
  font-weight: 500;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #fff;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.navigation__home_signed-in:hover {
  opacity: 0.5;
}

.navigation__saved-news {
  margin: 0 32px 0 0;
  height: 80px;
  width: 178px;
  padding: 0;
  font-weight: 500;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #fff;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.navigation__saved-news:hover {
  opacity: 0.5;
}

.navigation__sign-out {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 19px;
  font-weight: 500;
  max-width: 120px;
  height: 48px;

  border-radius: 100px;
  border-width: 1px;
  border-color: #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.navigation__sign-out:hover {
  opacity: 0.5;
}

.navigation__sign-out-icon {
  margin: 0;
  padding: 0 0 0 15px;
  height: 24px;
  width: 24px;
}
.navigation__username {
  margin: 0;
}

@media screen and (max-width: 880px) {
  .navigation {
    height: 100%;
    right: 40px;
    font-size: 16px;
  }

  .navigation__list {
    height: 100%;
  }

  .navigation__link_home {
    padding: 23px 9px 23px 9px;
  }

  .navigation__link_news {
    padding: 23px 28px 23px 29px;
  }

  .navigation__btn {
    height: 40px;
  }

  .navigation__btn_user {
    padding: 8px 13px 8px 15px;
  }
}

/* @media screen and (max-width: 768px) {
  .navigation {
    font-size: 16px;
    right: 40px;
  }

  .navigation__list {
    gap: 22px;
  }

  .navigation__sign-out {
    max-width: 100px;
    height: 40px;
  }

  .navigation__sign-in {
    max-width: 152px;
    height: 40px;
  }
} */
