.articles {
  display: flex;
  flex-direction: column;
  padding: 80px 0 0 0;
}

.articles__top-bar {
  background-color: #fff;
  padding: 40px 104px 57px 104px;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
}

.articles__subheading {
  margin: 0;
}

.articles__heading {
  margin: 0;
  padding-top: 28px;
  font-family: "Roboto Slab";
  font-size: 40px;
  line-height: 46px;
}

.articles__keywords {
  margin: 0;
  padding-top: 30px;
}
