.search-form {
  max-width: 1440px;
  height: 576px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.search-form__background {
  max-width: 1440px;
  height: 576px;
  position: absolute;
  z-index: 0;
}

.search-form__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  z-index: 99;
  color: #fff;
  text-align: center;
  letter-spacing: 0;
}

.search-form__header {
  max-width: 608px;
  line-height: 64px;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 60px;
  text-align: left;
}

.search-form__subheader {
  font-family: "Roboto";
  font-size: 18px;
}

.search-form__input-container {
  max-width: 608px;
  height: 64px;
  /* padding: 21px 208px 21px 24px; */
  display: flex;
  flex-direction: wrap;
  justify-content: left;
  position: relative;
  border-radius: 100px;
  background-color: #fff;
  border-width: 0;
  font-family: "Roboto";
}

.search-form__input {
  /* width: 608px;
  height: 64px; */
  margin: 0;
  width: 400px;
  padding: 21px 0px 21px 24px;
  border-radius: 100px;
  /* border-color: transparent; */
  border-width: 0;
  outline: none;
  font-weight: 400;
  font-size: 16px;
}

.search-form__button {
  position: absolute;
  right: 0;
  height: 100%;
  width: 168px;
  border-radius: 100px;
  border-width: 0;
  background-color: #2f71e5;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}
