.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 104px;
}

.footer__copyright {
  margin: 0;
  text-align: left;
}

.footer__links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__link {
  padding: 0;
  margin: 0 0 0 40px;
  cursor: pointer;
}

.footer__link:last-child {
  margin: 0 0 0 24px;
}
