.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  margin: 0;
  text-align: left;
}

.footer__links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
