.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  margin: 0 auto;
  margin-top: auto;
  max-width: 100vw;
  padding: 32px 104px 26px 104px;
  box-sizing: border-box;
  position: relative;

  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}

.footer__copyright {
  margin: 0;
  margin-right: auto;
  padding: 0;
  color: #b6bcbf;
}

.footer__links {
  margin: 0;
  padding: 0;
  width: 254px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;

  font-size: 18px;
  line-height: 24px;
}

.footer__row-one,
.footer__row-two {
  display: flex;
  flex-direction: row;
}

.footer__row-one {
  gap: 40px;
}

.footer__row-two {
  gap: 24px;
  margin: 0 0 0 40px;
  justify-content: center;
  width: 100%;
}

.footer__link {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  padding: 0;
  cursor: pointer;
}

.footer__link_home {
  order: 1;
}

.footer__link_TripleTen {
  order: 2;
}

.footer__link_github {
  order: 3;
}

.footer__link_facebook {
  order: 4;
}

.footer__link_github,
.footer__link_facebook {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .footer {
    padding: 32px 60px 26px 60px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 24px 40px 18px 40px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px 15px 22px 15px;
  }

  .footer__copyright {
    margin: 34px 0 0 0;
  }

  .footer__links {
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    line-height: 24px;
  }

  .footer__row-one {
    flex-direction: column;
    gap: 26px;
  }

  .footer__row-two {
    margin: 0;
    padding: 3px 0 0 0;
    justify-content: flex-end;
    align-items: center;
  }

  .footer__link {
    margin: 0;
  }

  .footer__link_home {
    order: 1;
    /* margin-right: auto; */
  }

  .footer__link_github {
    order: 2;
  }

  .footer__link_facebook {
    order: 3;
  }

  .footer__link_TripleTen {
    order: 4;
  }
}
