.news-cards {
  display: grid;
  gap: 16px 16px;
  grid-template-columns: 1fr 1fr;
  flex: 1;

  background-color: #f5f6f7;
  margin: 0;
  padding: 62px 104px;
  width: 100%;
  max-width: 100vw;
  justify-items: center;
  box-sizing: border-box;
}

.news-cards__results-header {
  margin: 0;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  padding: 80px 0 0 104px;
}

.news-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 400px;
  height: 576px;
  box-sizing: border-box;
}

.news-card__header-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-family: "Roboto";
  font-weight: 500;
  top: 24px;
  z-index: 99;
}

.news-card__header-container_save {
  justify-content: flex-end;
  right: 24px;
}

.news-card__confirm-bookmark {
  padding: 11px 20px;
  margin: 0;
  border-radius: 10px;
  background-color: #fff;
  font-size: 12px;
  line-height: 18px;
}

.news-card__bookmark-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  padding: 0;
  margin: 0 0 0 5px;
  border-radius: 8px;
  background-color: #fff;
  border: none;
}

.news-card__bookmark-btn:hover {
  cursor: pointer;
}

.news-card__bookmark-icon {
  margin: 0;
  padding: 0;
  height: 24px;
  width: 24px;
}

.news-card__keyword {
  padding: 8px 22px;
  margin: 0 0 0 24px;
  max-width: 115px;
  border-radius: 10px;
  background-color: #fff;
  font-size: 14px;
}

.news-card__confirm-remove {
  padding: 11px 26px;
  margin: 0 0 0 auto;
  border-radius: 10px;
  background-color: #fff;
  font-size: 12px;
}

.news-card__remove-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 24px 0 5px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border-color: transparent;
  background-color: #fff;
  opacity: 1;
}

.news-card__remove-btn:hover {
  cursor: pointer;
}

.news-card__remove-icon {
  /* height: 19px;
  width: 18px; */
  height: 24px;
  width: 24px;
  margin: 0;
  padding: 0;
  margin: 0;
}

.news-card__content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 576px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
}

.news-card__image {
  width: 400px;
  height: 272px;
}

.news-card__article {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 17px 24px 0px 24px;
  font-family: "Roboto Slab";
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0;
}

.news-card__date {
  margin: 0;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: #bcbcbf;
}

.news-card__title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;

  margin: 16px 0 0 0;
  padding: 0 0 3px 0;
  font-size: 26px;
  font-weight: 400;
  max-height: 86px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-card__text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;

  position: absolute;
  top: 132px;
  left: 24px;
  right: 24px;
  margin: 0;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  max-height: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-card__author {
  position: absolute;
  left: 24px;
  bottom: 24px;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 20px;
  color: #bcbcbf;
}

@media screen and (min-width: 1440px) {
  .news-cards {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .news-cards__results-header {
    padding: 40px 0 32px 40px;
    font-size: 30px;
    line-height: 34px;
  }

  .news-card__header-container {
    justify-content: space-between;
    top: 8px;
  }

  .news-card__header-container_save {
    top: 8px;
    right: 8px;
    justify-content: flex-end;
  }

  .news-cards {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    padding: 32px 40px;
  }

  .news-card {
    width: 224px;
    height: 420px;
  }
  .news-card__image {
    width: 224px;
    height: 150px;
  }

  .news-card__keyword {
    padding: 8px 20px;
    margin-left: 8px;
  }

  .news-card__remove-btn {
    margin: 0 8px 0 0;
  }

  .news-card__confirm-remove {
    display: none;
  }

  .news-card__article {
    font-size: 22px;
    padding: 14px 16px 0px 16px;
    line-height: 24px;
  }

  .news-card__title {
    -webkit-line-clamp: 3;
    line-clamp: 3;
    margin: 10px 0 0 0;
    font-size: 22px;
    line-height: 24px;
  }

  .news-card__author {
    bottom: 16px;
    left: 16px;
  }

  .news-card__text {
    left: 16px;
    right: 16px;
    top: 134px;
  }
}

@media screen and (max-width: 767px) {
  .news-cards__results-header {
    padding: 40px 0 0px 40px;
  }

  .news-cards {
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 32px 40px;
  }

  .news-card__title {
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}

@media screen and (max-width: 536px) {
  .news-cards__results-header {
    padding: 32px 0 46px 16px;
  }

  .news-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 24px 16px 12px 16px;
  }

  .news-card {
    width: 288px;
    height: 440px;
  }

  .news-card__image {
    width: 288px;
    height: 196px;
  }

  .news-card__article {
    padding: 14px 16px 0px 16px;
  }

  .news-card__title {
    font-size: 21px;
    line-height: 24px;
  }

  .news-card__text {
    -webkit-line-clamp: 4;
    line-clamp: 4;
    max-height: 88px;
    top: 112px;
  }
}
